<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Catalogue</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Great+Vibes&family=Homemade+Apple&family=Josefin+Sans:ital,wght@1,200&family=Merienda:wght@300&display=swap" rel="stylesheet">

   
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    
    <link rel="stylesheet" href="/webapp/assets/css/style.css">
    <style>
        @font-face {
    font-family: 'MyCustomFont';
    src: url('Dune_Rise.otf') format('opentype'); /* or .ttf for TrueType */
}

h3 {
    font-family: 'MyCustomFont', sans-serif; /* Fallback to a default font */
}
    </style>
</head>
</head>
<body>
  
    <header>
       
        <div class="nav container">
            <a href="Test.html" class="logo"><h3>DUSK</h3></a>
            
            <i class='bx bx-shopping-bag' id="cart-icon"></i>

           
            <div class="cart">
                <h2 class="cart-title">Your Cart</h2>

                
                <div class="cart-content">


                </div>

             
                <div class="total">
                    <div class="total-title">Total</div>
                    <div class="total-price">$0</div>
                </div>
         
                <button type="button" class="btn-buy">Buy Now</button>
              
                <i class='bx bx-x' id="cart-close"></i>
            </div>
        </div>
    </header>



    <section class="shop container">
        <h1 class="section-title">Mega Drop Sale</h1>

        <div class="shop-content">
     
            <div class="product-box">
                <img src="/webapp/assets/images/product1.jpg" alt="" class="product-img">
                <h2 class="product-title">Nike Air Jordan 1 [awhite/black/green]</h2>
                <span class="product-price">$120</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            
            <div class="product-box">
                <img src="/webapp/assets/images/2.jpg" alt="" class="product-img">
                <h2 class="product-title">Nike Jordan 5 " Sails"</h2>
                <span class="product-price">$100</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
        
            <div class="product-box">
                <img src="/webapp/assets/images/3.jpg" alt="" class="product-img">
                <h2 class="product-title">Nike Jordan 3 "Archaeo Brown</h2>
                <span class="product-price">$90</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
           
            <div class="product-box">
                <img src="/webapp/assets/images/4.jpg" alt="" class="product-img">
                <h2 class="product-title">Nike Zoom Vomero</h2>
                <span class="product-price">$110</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            
            <div class="product-box">
                <img src="/webapp/assets/images/5.jpg" alt="" class="product-img">
                <h2 class="product-title">Nike Blazers Low</h2>
                <span class="product-price">$75</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
           
            <div class="product-box">
                <img src="/webapp/assets/images/6.jpg" alt="" class="product-img">
                <h2 class="product-title">Jordan 3 Retro Craft</h2>
                <span class="product-price">$130</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            
            <div class="product-box">
                <img src="/webapp/assets/images/7.jpg" alt="" class="product-img">
                <h2 class="product-title">Nike Jordan 11 Blackcat</h2>
                <span class="product-price">$120</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
             
            <div class="product-box">
                <img src="/webapp/assets/images/8.jpg" alt="" class="product-img">
                <h2 class="product-title">Nike Jordan 5 Army Olive</h2>
                <span class="product-price">$90</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>

            <div class="product-box">
                <img src="/webapp/assets/images/9.jpg" alt="" class="product-img">
                <h2 class="product-title">Nike Air Penny 2</h2>
                <span class="product-price">$120</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>

            <div class="product-box">
                <img src="/webapp/assets/images/10.jpg" alt="" class="product-img">
                <h2 class="product-title">Nike x Travis Scott Jordan 7</h2>
                <span class="product-price">$270</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>

            <div class="product-box">
                <img src="/webapp/assets/images/11.jpg" alt="" class="product-img">
                <h2 class="product-title">Nike x Travis Scott Neutral Olive </h2>
                <span class="product-price">$240</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>

            <div class="product-box">
                <img src="/webapp/assets/images/12.jpg" alt="" class="product-img">
                <h2 class="product-title">Nike Air 90's Blue/white</h2>
                <span class="product-price">$150</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            

        </div>
    </section>


    <script src="/webapp/assets/js/main.js"></script>
</body>

</html>